.container {
  max-width: 30em;
  margin: auto;
}

table {
  margin: auto;
  padding: 1em;
}

td {
  width: 2em;
  height: 2em;
  border: 2px solid transparent;
}

.off {
  background-color: cadetblue;
}

.on {
  transition-duration: 0.5s;
  border: 2px solid black;
  background-color: coral;
}